<div class='info-wrap'>
	<div class='caption book-info'>
		<h2 class='green info-item title'>{{ data.title }}</h2>
		<div class='info-item author'>{{orUnknown data.author}}</div>
		<div class='info-item epub-version'>ePUB {{orUnknown data.epub_version}}</div>		
	</div>
	
	<img class='cover-image read' src='{{ data.cover_href }}' width='150' height='220' alt='Open ePUB {{ data.title }}'>
	
	<a href="#details-modal-{{ data.key }}" class="info-icon" aria-pressed="true" data-toggle="modal" role="button">
		<img class='info-icon pull-right' src='/images/library/info-icon.png' height="39px" width="39px" alt='{{ data.title }} information'>
	</a>
</div>

<div class="caption buttons">
	<a href="#todo" class="btn read" data-book='{{ data.key }}' role='button'>{{fetchInzMessage "i18n_read"}}</a>
	<a href="#details-modal-{{ data.key }}" aria-pressed="true" class="btn details" data-toggle="modal" role="button">
		{{fetchInzMessage "i18n_details"}}
	</a>
</div>

<div id='details-modal-{{ data.key }}' class='modal fade details-modal'>
<div class="offscreenText"> Details Start </div>
	<div class="pull-left modal-cover-wrap">
		<img class='details-cover-image' src='{{ data.cover_href }}' width='150' height='220' alt='ePUB cover'>
		<div class="caption modal-buttons">
			<a href="#" class="btn read" data-book='<%= data.key %>' role='button'>{{fetchInzMessage "i18n_read"}}</a>
			<a class="btn btn-danger delete pull-right" role='button'>{{fetchInzMessage "i18n_delete"}}</a>
		</div>
	</div>
	<div class='caption modal-book-info'>
		<h3 class='green modal-title'>{{ data.title }}</h3>
		<div class='modal-detail gap'>{{fetchInzMessage "i18n_author"}}{{orUnknown data.author}}</div>
		<div class='modal-detail'>{{fetchInzMessage "i18n_publisher"}}{{orUnknown data.publisher}}</div>
		<div class='modal-detail'>{{fetchInzMessage "i18n_pub_date"}}{{orUnknown data.pubdate}}</div>
		<div class='modal-detail'>{{fetchInzMessage "i18n_modified_date"}}{{orUnknown data.modified_date}}</div>
		<div class='modal-detail gap'>{{fetchInzMessage "i18n_id"}}{{orUnknown data.id}}</div>
		<div class='modal-detail green'>{{fetchInzMessage "i18n_epub_version"}}{{orUnknown data.epub_version}}</div>
		<div class='modal-detail'>{{fetchInzMessage "i18n_created_at"}}{{orUnknown data.created_at}}</div>
	</div>
	<div class='modal-detail source'>
	<span class='green' style="padding-right: 10px">{{fetchInzMessage "i18n_source"}}</span>
		{{orUnknown data.src_url}}
	</div>
<div class="offscreenText"> Details End </div>
</div>			